{#loop through Categorieded_lists#}
{% extends "votingapp/layout.html" %}
{% block body %}
    <h1>Categories</h1>
    {% if categories %}
        <ul>
            {% for category in categories_list %}
{#                link to each category where you can see all suggestions#}
{#                {% url 'category' category.id %}#}
                <li><a href="{% url 'category' group_name=group.group_name category_name=category %}">{{ category }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No categories are available.</p>
    {% endif %}
    <form action="{% url 'group' group.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add Category">
    </form>
{% endblock %}
